openapi: 3.0.1
info:
  title: Commerce Webservices
  description: These services manage all of the common commerce functionality, and
    also include customizations from installed AddOns. The implementing extension
    is called ctccommercewebservices.
  license:
    name: Use of this file is subject to the terms of your agreement with SAP SE or
      its affiliates respecting the use of the SAP product for which this file relates.
  version: "2.0"
servers:
- url: //api.c0onq03u1z-canadiant2-d3-public.model-t.cc.commerce.ondemand.com/rest/v2
security:
- oauth2_Password:
  - basic
- oauth2_client_credentials:
  - extended
tags:
- name: Address
  description: Address Controller
- name: Base Sites
  description: Base Sites Controller
- name: Base Stores
  description: Base Stores Controller
- name: CTCNarvar
  description: Ctc Narvar Controller
- name: CartData
  description: Ctc Cart Data Controller
- name: Carts
  description: Ctc Carts Controller
- name: Consents
  description: Consents Controller
- name: Consignment Tracking
  description: Consignment Tracking Controller
- name: Countries
  description: Countries Controller
- name: CtcCatalogs
  description: Ctc Catalogs Controller
- name: CtcFeeMessages
  description: Ctc Fee Message Controller
- name: CtcGlobalValues
  description: Ctc Global Data Controller
- name: CtcInstore
  description: Ctc Instore Controller
- name: CtcPayment
  description: Ctfs Payment Controller
- name: CtcProducts
  description: Ctc Products Controller
- name: CtcReservation
  description: Ctc Reservation Controller
- name: CtcServiceCentre
  description: Ctc Service Centre Controller
- name: CtcShareCart
  description: Ctc Shared Cart Controller
- name: CtcSharedCartTemplate
  description: Ctc Shared Cart Template Controller
- name: CtcStores
  description: Ctc Stores Controller
- name: CtcStoresAdmin
  description: Ctc Stores Admin Controller
- name: CtcUserProfile
  description: Ctc User Profile Controller
- name: Customer Coupons
  description: Customer Coupons Controller
- name: Customer Groups
  description: Customer Groups Controller
- name: Export
  description: Export Controller
- name: Extended Carts
  description: Extended Carts Controller
- name: Feeds
  description: Feeds Controller
- name: Forgotten Passwords
  description: Forgotten Passwords Controller
- name: IVR
  description: Ctc Ivr Controller
- name: Login Notification
  description: Login Notification Controller
- name: Merchant Callback
  description: Merchant Callback Controller
- name: Message Center
  description: Message Center CS Controller
- name: Migration
  description: Ctc Impex Migration Controller
- name: Miscs
  description: Miscs Controller
- name: Notification Preference
  description: Notification Preference Controller
- name: Orders
  description: Ctc Orders Controller
- name: POS
  description: Ctc Pos Order Controller
- name: Payment Details
  description: Payment Details Controller
- name: Payment Modes
  description: Payment Modes Controller
- name: Price
  description: Ctc Price Controller
- name: Product Interests
  description: Product Interests Controller
- name: Promotions
  description: Promotions Controller
- name: Return Requests
  description: Order Returns Controller
- name: Save Cart
  description: Save Cart Controller
- name: Share Cart
  description: Ctc Instore Shared Cart Template Controller
- name: Site Messages
  description: Site Message Controller
- name: Triangle Select
  description: Ctc Triangle Select Controller
- name: User Roles
  description: Ctc Users Controller
- name: UserAccount
  description: Ctc User Account Controller
- name: Users
  description: Users Controller
- name: Vouchers
  description: Vouchers Controller
- name: Wishlist
  description: Ctc Wishlist Controller
- name: cancellationReasons
  description: Ctc Cancel Reasons Controller
- name: ctc-authorization-controller
  description: Ctc Authorization Controller
- name: ctc-release-version-controller
  description: Ctc Release Version Controller
- name: ctc-sle-configuration-controller
  description: Ctc Sle Configuration Controller
- name: order-forms-controller
  description: Order Forms Controller
- name: saveforlater
  description: Ctc Save For Later Controller
- name: vPos receipts operations
  description: Ctc Vpos Receipts Controller
paths:
  /basesites:
    get:
      tags:
      - Base Sites
      summary: Get all base sites.
      description: Get all base sites with corresponding base stores details in FULL
        mode.
      operationId: getBaseSites
      parameters:
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BaseSiteList'
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSiteList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /properties/globalValues:
    get:
      tags:
      - CtcGlobalValues
      summary: Ctc Get Global Values
      description: Gets list of global values which are public
      operationId: getGlobalValues
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcGlobalValues'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcGlobalValues'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /user/profile/savePaymentInfo:
    post:
      tags:
      - CtcUserProfile
      summary: Save Instant triangle master card
      description: Save Instant triangle master card in GIGYA via CDS
      operationId: Save Payment Info
      requestBody:
        description: ' Request body contains user triangle master card details'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtcTriangleMasterCard'
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: ctcTriangleMasterCardWsDTO
  /{baseSiteId}/admin/stores/{storeNumber}/curbsideEligibility:
    get:
      tags:
      - CtcStoresAdmin
      summary: Get curbside eligibility for store.
      description: Get curbside eligibility for store.
      operationId: isCurbsideOn
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/admin/stores/{storeNumber}/onlineOrdering:
    get:
      tags:
      - CtcStoresAdmin
      summary: Get online ordering feature.
      description: Get online ordering feature for a CTC store.
      operationId: getOnlineOrdering
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OnlineOrderingData'
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineOrderingData'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
    put:
      tags:
      - CtcStoresAdmin
      summary: Update online ordering feature.
      description: Updates online ordering feature for a CTC store.
      operationId: updateOnlineOrdering
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      requestBody:
        description: requestData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnlineOrderingRequest'
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: requestData
  /{baseSiteId}/admin/stores/{storeNumber}/orderHolding:
    put:
      tags:
      - CtcStoresAdmin
      summary: Update Order Holding configuration.
      description: Updates Order Holding configuration for a CTC store.
      operationId: updateOrderHoldingConfiguration
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      requestBody:
        description: requestData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderHoldingRequest'
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: requestData
  /{baseSiteId}/admin/stores/{storeNumber}/orderHolding/options:
    get:
      tags:
      - CtcStoresAdmin
      summary: Get available Order Holding configurations.
      description: Gets available Order Holding configurations.
      operationId: getOrderHoldingOptions
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CtcOrderHoldingConfigurationData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CtcOrderHoldingConfigurationData'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/admin/stores/{storeNumber}/sle:
    put:
      tags:
      - CtcStoresAdmin
      summary: Update SLE configuration.
      description: Updates SLE configuration for a CTC store.
      operationId: updateSleConfiguration
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      requestBody:
        description: requestData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleRequest'
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: requestData
  /{baseSiteId}/admin/stores/{storeNumber}/sle/options:
    get:
      tags:
      - CtcStoresAdmin
      summary: Get available SLE configurations.
      description: Gets available SLE configurations.
      operationId: getSleOptions_1
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CtcSleConfigurationData'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CtcSleConfigurationData'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/admin/stores/{storeNumber}/storeFlexibilityConfig:
    get:
      tags:
      - CtcStoresAdmin
      summary: Get available store flexibility configurations.
      description: Gets available Store Flexibility configurations.
      operationId: getStoreFlexibilityConfigParameters
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          enum:
          - SLE
          - ONLINE_ORDERING
          - FEE
          - THRESHOLD
          - PICK_UP_CHANNEL
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StoreFlexibilityConfigResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFlexibilityConfigResponse'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
    put:
      tags:
      - CtcStoresAdmin
      summary: Update store flexibility config.
      description: Updates store flexibility config.
      operationId: updateStoreFlexibilityConfig
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: storeNumber
        in: path
        description: storeNumber
        required: true
        schema:
          type: string
      requestBody:
        description: request
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFlexibilityConfigRequest'
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: request
  /{baseSiteId}/authorizationserver/oauth/logout:
    get:
      tags:
      - ctc-authorization-controller
      summary: logout
      operationId: logoutUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: post_logout_redirect_uri
        in: query
        description: post_logout_redirect_uri
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RedirectView'
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectView'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/autoservice/template/share:
    post:
      tags:
      - CtcServiceCentre
      summary: Shares products to the specified email/phone as an e-Commerce shopping
        cart
      description: Returns share card valid duration
      operationId: shareCart
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentShareCartRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentShareCartResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentShareCartResponse'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: request
  /{baseSiteId}/basestores/{baseStoreUid}:
    get:
      tags:
      - Base Stores
      summary: Get a base store.
      description: Returns details of a specific base store based on its identifier.
        The response contains detailed base store information.
      operationId: getBaseStore
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: baseStoreUid
        in: path
        description: Base store name
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BaseStore'
            application/json:
              schema:
                $ref: '#/components/schemas/BaseStore'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/cancellationReasons:
    get:
      tags:
      - cancellationReasons
      summary: getCancellationReasons
      operationId: getCancellationReasonsUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        schema:
          type: string
          default: en
      - name: reasonType
        in: query
        description: reasonType
        schema:
          type: string
          default: GM
          enum:
          - GM
          - TIRES
          - STORE_GM
          - STORE_TIRES
          - CUSTOMER
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcCancelReason'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcCancelReason'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/cardtypes:
    get:
      tags:
      - Miscs
      summary: Get a list of supported payment card types.
      description: Lists supported payment card types.
      operationId: getCardTypes
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CardTypeList'
            application/json:
              schema:
                $ref: '#/components/schemas/CardTypeList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/cartData/mini:
    get:
      tags:
      - CartData
      summary: getMiniCartData
      operationId: getMiniCartDataUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base Site ID
        required: true
        schema:
          type: string
      - name: guid
        in: query
        description: guid
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcMiniCartData'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcMiniCartData'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/catalogs:
    get:
      tags:
      - CtcCatalogs
      summary: Get a list of catalogs
      description: Returns all catalogs with versions defined for the base store.
      operationId: getCatalogs
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CatalogList'
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/catalogs/new/{catalogId}/{catalogVersionId}:
    get:
      tags:
      - CtcCatalogs
      summary: Get information about catalog version for mega navigation
      description: Returns information about the catalog version that exists for the
        current base store.
      operationId: getMegaNavCatalogVersion
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: catalogId
        in: path
        description: Catalog identifier
        required: true
        schema:
          type: string
      - name: catalogVersionId
        in: path
        description: Catalog version identifier
        required: true
        schema:
          type: string
      - name: filterForSiteMap
        in: query
        description: filterForSiteMap
        schema:
          type: boolean
          default: false
      - name: level
        in: query
        description: level
        schema:
          type: integer
          format: int32
          default: 3
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcMegaNavCatalogVersionData'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcMegaNavCatalogVersionData'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/catalogs/{catalogId}:
    get:
      tags:
      - CtcCatalogs
      summary: Get a catalog
      description: Returns information about a catalog based on its ID, along with
        the versions defined for the current base store.
      operationId: getCatalog
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: catalogId
        in: path
        description: Catalog identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Catalog'
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/catalogs/{catalogId}/{catalogVersionId}:
    get:
      tags:
      - CtcCatalogs
      summary: Get information about catalog version
      description: Returns information about the catalog version that exists for the
        current base store.
      operationId: getCatalogVersion
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: catalogId
        in: path
        description: Catalog identifier
        required: true
        schema:
          type: string
      - name: catalogVersionId
        in: path
        description: Catalog version identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      - name: filterForSiteMap
        in: query
        description: filterForSiteMap
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CatalogVersion'
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogVersion'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/catalogs/{catalogId}/{catalogVersionId}/categories/{categoryId}:
    get:
      tags:
      - CtcCatalogs
      summary: Get information about catagory in a catalog version
      description: Returns information about a specified category that exists in a
        catalog version available for the current base store.
      operationId: getCategories
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: catalogId
        in: path
        description: Catalog identifier
        required: true
        schema:
          type: string
      - name: catalogVersionId
        in: path
        description: Catalog version identifier
        required: true
        schema:
          type: string
      - name: categoryId
        in: path
        description: Category identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      - name: filterForMegaNav
        in: query
        description: filterForMegaNav
        schema:
          type: boolean
          default: true
      - name: level
        in: query
        description: 'Level up to which subCategory to display , values = [0-4] '
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 4
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcCategoryHierarchy'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcCategoryHierarchy'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/countries:
    get:
      tags:
      - Countries
      summary: Get a list of countries.
      description: If the value of type equals to shipping, then return shipping countries.
        If the value of type equals to billing, then return billing countries. If
        the value of type is not given, return all countries. The list is sorted alphabetically.
      operationId: getCountries
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      - name: type
        in: query
        description: The type of countries.
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - SHIPPING
          - BILLING
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryList'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/countries/{countyIsoCode}/regions:
    get:
      tags:
      - Countries
      summary: Fetch the list of regions for the provided country.
      description: Lists all regions.
      operationId: getCountryRegions
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: countyIsoCode
        in: path
        description: An ISO code for a country
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RegionList'
            application/json:
              schema:
                $ref: '#/components/schemas/RegionList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/currencies:
    get:
      tags:
      - Miscs
      summary: Get a list of available currencies.
      description: Lists all available currencies (all usable currencies for the current
        store). If the list of currencies for a base store is empty, a list of all
        currencies available in the system is returned.
      operationId: getCurrencies
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/customergroups:
    get:
      tags:
      - Customer Groups
      summary: Get all subgroups of a customergroup.
      description: |-
        Returns all customer groups that are direct subgroups of a customergroup.

        To try out the methods of the Customer Groups controller, you must authorize a user who belongs to the “customermanagergroup”.
      operationId: getCustomerGroups
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: currentPage
        in: query
        description: Current page number (starts with 0).
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: BASIC
      - name: pageSize
        in: query
        description: Number of customer group returned in one page.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UserGroupList'
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
    post:
      tags:
      - Customer Groups
      summary: Creates a new customer group.
      description: |-
        Creates a new customer group that is a direct subgroup of a customergroup.

        To try out the methods of the Customer Groups controller, you must authorize a user who belongs to the “customermanagergroup”.
      operationId: createCustomerGroup
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      requestBody:
        description: User group object with id and name.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/UserGroup'
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroup'
        required: true
      responses:
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: userGroup
  /{baseSiteId}/customergroups/{groupId}:
    get:
      tags:
      - Customer Groups
      summary: Get a specific customer group.
      description: |-
        Returns a customer group with a specific groupId.

        To try out the methods of the Customer Groups controller, you must authorize a user who belongs to the “customermanagergroup”.
      operationId: getCustomerGroup
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: BASIC
      - name: groupId
        in: path
        description: Group identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UserGroup'
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/customergroups/{groupId}/members:
    put:
      tags:
      - Customer Groups
      summary: Sets members for a user group.
      description: |-
        Sets members for a user group. The list of existing members is overwritten with a new one.

        To try out the methods of the Customer Groups controller, you must authorize a user who belongs to the “customermanagergroup”.
      operationId: replaceUsersForCustomerGroup
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: Group identifier.
        required: true
        schema:
          type: string
      requestBody:
        description: List of users to set for customer group.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/MemberList'
          application/json:
            schema:
              $ref: '#/components/schemas/MemberList'
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: members
    patch:
      tags:
      - Customer Groups
      summary: Assigns user(s) to a customer group.
      description: |-
        Assigns user(s) to a customer group.

        To try out the methods of the Customer Groups controller, you must authorize a user who belongs to the “customermanagergroup”.
      operationId: updateCustomerGroupWithUsers
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: Group identifier.
        required: true
        schema:
          type: string
      requestBody:
        description: List of users to assign to customer group.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/MemberList'
          application/json:
            schema:
              $ref: '#/components/schemas/MemberList'
        required: true
      responses:
        200:
          description: OK
          content: {}
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: members
  /{baseSiteId}/customergroups/{groupId}/members/{userId}:
    delete:
      tags:
      - Customer Groups
      summary: Deletes a user from a customer group.
      description: |-
        Deletes user from a customer group.

        To try out the methods of the Customer Groups controller, you must authorize a user who belongs to the “customermanagergroup”.
      operationId: removeUsersFromCustomerGroup
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: Group identifier.
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: User identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/deliverycountries:
    get:
      tags:
      - Miscs
      summary: Get a list of shipping countries.
      description: Lists all supported delivery countries for the current store. The
        list is sorted alphabetically.
      operationId: getDeliveryCountries
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryList'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: true
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/export/products:
    get:
      tags:
      - Export
      summary: Get a list of product exports.
      description: Used for product export. Depending on the timestamp parameter,
        it can return all products or only products modified after the given time.
      operationId: getExportedProducts
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: catalog
        in: query
        description: The catalog to retrieve products from. The catalog must be provided
          along with the version.
        allowEmptyValue: false
        schema:
          type: string
      - name: currentPage
        in: query
        description: The current result page requested.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      - name: pageSize
        in: query
        description: The number of results returned per page.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: timestamp
        in: query
        description: When this parameter is set, only products modified after the
          given time will be returned. This parameter should be in ISO-8601 format
          (for example, 2018-01-09T16:28:45+0000).
        allowEmptyValue: false
        schema:
          type: string
      - name: version
        in: query
        description: The catalog version. The catalog version must be provided along
          with the catalog.
        allowEmptyValue: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProductList'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/feeds/orders/statusfeed:
    get:
      tags:
      - Feeds
      summary: Get a list of orders with status updates.
      description: Returns the orders that have changed status. Returns only the elements
        from the current baseSite that have been updated after the provided timestamp.
      operationId: getOrderStatusFeed
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      - name: timestamp
        in: query
        description: Only items newer than the given parameter are retrieved. This
          parameter should be in ISO-8601 format (for example, 2018-01-09T16:28:45+0000).
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderStatusUpdateElementList'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStatusUpdateElementList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/feemessages:
    post:
      tags:
      - CtcFeeMessages
      summary: Get the fee message based on the list of category and province.
      operationId: getFeeMessagesAndTitle
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      - name: storeId
        in: query
        description: Fee message with given Province ID.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      requestBody:
        description: 'Request body parameter that contains list of category code '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtcFeeMessageCatListRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcFeeMessageList'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcFeeMessageList'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: categoryRequest
  /{baseSiteId}/feemessages/new:
    post:
      tags:
      - CtcFeeMessages
      summary: Get the fee message based on the list of category and province
      operationId: getFeeMessagesAndTitle_1
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: storeId
        in: query
        description: Fee message with given province id
        required: true
        allowEmptyValue: false
        schema:
          type: string
      requestBody:
        description: Request body parameter that contains list of category code
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtcFeeMessageCatListRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcFeeMessageListData'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcFeeMessageListData'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: categoryRequest
  /{baseSiteId}/forgottenpasswordtokens:
    post:
      tags:
      - Forgotten Passwords
      summary: Generates a token to restore a customer's forgotten password.
      description: Generates a token to restore a customer's forgotten password.
      operationId: doRestorePassword
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: userId
        in: query
        description: Customer's user id. Customer user id is case insensitive.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        201:
          description: Created
          content: {}
        202:
          description: Accepted
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/instore/cart/{cartId}/adjustPrices:
    post:
      tags:
      - Share Cart
      summary: Price Adjustment Shared Cart.
      description: Price Adjustment Shared Cart.
      operationId: recalculateSharedCart
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: cartId
        in: path
        description: cartId
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchandiseSharedCartRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SharedCartResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SharedCartResponse'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: request
  /{baseSiteId}/instore/cart/{cartId}/import:
    get:
      tags:
      - Share Cart
      summary: Import shared cart.
      description: Import shared cart.
      operationId: importSharedCart
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: cartId
        in: path
        description: cartId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SharedCartResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SharedCartResponse'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/instore/order/{orderCode}/extendPickup:
    put:
      tags:
      - CtcInstore
      summary: extendPickup
      operationId: extendPickupUsingPUT
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: orderCode
        in: path
        description: orderCode
        required: true
        schema:
          type: string
      requestBody:
        description: extendPickupRequestWsDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendPickupRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderExtendPickupResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderExtendPickupResponse'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: extendPickupRequestWsDTO
  /{baseSiteId}/instore/share/labour:
    post:
      tags:
      - Share Cart
      summary: Share a labour cart.
      description: Share a labour cart.
      operationId: shareLabourCart
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabourSharedCartRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: request
  /{baseSiteId}/instore/share/merchandise:
    post:
      tags:
      - Share Cart
      summary: Share a merchandise cart.
      description: Share a merchandise cart.
      operationId: shareMerchandiseCart
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchandiseSharedCartRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: request
  /{baseSiteId}/integration/merchant_callback:
    post:
      tags:
      - Merchant Callback
      summary: Verify the decision of the Merchant
      description: "Verifies the decision of the merchant. \n\nNote, the “Try it out”\
        \ button is not enabled for this method (always returns an error) because\
        \ the Merchant Callback Controller handles parameters differently, depending\
        \ on which payment provider is used. For more information about this controller,\
        \ please refer to the “acceleratorocc AddOn” documentation on help.hybris.com."
      operationId: doHandleMerchantCallback
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/integration/users/{userId}/carts/{cartId}/payment/sop/response:
    post:
      tags:
      - Merchant Callback
      summary: Verify the decision of the Merchant for a cart
      description: "Verifies the decision of the merchant for a specified cart, and\
        \ stores information of the PaymentSubscriptionResult for the cart. \n\nNote,\
        \ the “Try it out” button is not enabled for this method (always returns an\
        \ error) because the Merchant Callback Controller handles parameters differently,\
        \ depending on which payment provider is used. For more information about\
        \ this controller, please refer to the “acceleratorocc AddOn” documentation\
        \ on help.hybris.com."
      operationId: doHandleCartMerchantCallback
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: cartId
        in: path
        description: 'Cart identifier: cart code for logged in user, cart guid for
          anonymous user, ''current'' for the last modified cart'
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: 'User identifier or one of the literals : ''current'' for currently
          authenticated user, ''anonymous'' for anonymous user'
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/ivr/order:
    post:
      tags:
      - IVR
      summary: getIvrOrder
      operationId: getIvrOrderUsingPOST
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      requestBody:
        description: ctcIvrOrderRequest
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: object
            application/json:
              schema:
                type: object
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: ctcIvrOrderRequest
  /{baseSiteId}/languages:
    get:
      tags:
      - Miscs
      summary: Get a list of available languages.
      description: Lists all available languages (all languages used for a particular
        store). If the list of languages for a base store is empty, a list of all
        languages available in the system will be returned.
      operationId: getLanguages
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LanguageList'
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/messagecenter/im/conversations:
    post:
      tags:
      - Message Center
      summary: Sends messages
      description: Sends messages in a conversation and returns the conversation data.
      operationId: sendMessageUsingPOST
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      requestBody:
        description: the list of messages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conversationMessageList'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/conversation'
            application/json:
              schema:
                $ref: '#/components/schemas/conversation'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: conversationMessageList
  /{baseSiteId}/messagecenter/im/conversations/agentconversations:
    get:
      tags:
      - Message Center
      summary: Gets unassigned or open conversations for current CSA
      description: Returns unassigned or open conversation list for current CSA.
      operationId: getConversationsForAgentUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: the conversation status
        required: true
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - open
          - unassigned
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/conversationList'
            application/json:
              schema:
                $ref: '#/components/schemas/conversationList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/messagecenter/im/conversations/customerconversations:
    get:
      tags:
      - Message Center
      summary: Gets conversations of current customer
      description: Returns the conversation list of current customer.
      operationId: getConversationsForCustomerUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/conversationList'
            application/json:
              schema:
                $ref: '#/components/schemas/conversationList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/messagecenter/im/conversations/{conversationId}/close:
    patch:
      tags:
      - Message Center
      summary: Closes an open conversation
      description: Closes an open conversation and returns the conversation data.
      operationId: closeConversationUsingPATCH
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: conversationId
        in: path
        description: the uid of conversation
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/conversation'
            application/json:
              schema:
                $ref: '#/components/schemas/conversation'
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/messagecenter/im/conversations/{conversationId}/messages:
    get:
      tags:
      - Message Center
      summary: Gets conversation messages for current customer or current CSA
      description: Returns all messages of a specific conversation.
      operationId: getMessagesForConversationUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: conversationId
        in: path
        description: the uid of conversation
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/conversationMessageList'
            application/json:
              schema:
                $ref: '#/components/schemas/conversationMessageList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/messagecenter/im/conversations/{conversationId}/pick:
    patch:
      tags:
      - Message Center
      summary: Picks an unassigned conversation
      description: Picks an unassigned conversation and returns the conversation data.
      operationId: pickConversationUsingPATCH
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: conversationId
        in: path
        description: the uid of conversation
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/conversation'
            application/json:
              schema:
                $ref: '#/components/schemas/conversation'
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/migration/migrateImpex:
    get:
      tags:
      - Migration
      summary: performImpexMigration
      operationId: performImpexMigrationUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        202:
          description: Accepted
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/migration/repairImpex:
    get:
      tags:
      - Migration
      summary: repairImpexMigration
      operationId: repairImpexMigrationUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        202:
          description: Accepted
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/narvar/shipment:
    post:
      tags:
      - CTCNarvar
      summary: updateNarvarOrder
      operationId: updateNarvarOrderUsingPOST
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      requestBody:
        description: ctcNarvarRequest
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        200:
          description: OK
          content: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: ctcNarvarRequest
  /{baseSiteId}/orderforms:
    get:
      tags:
      - order-forms-controller
      summary: getOrderFormsForCurrentUser
      operationId: getOrderFormsForCurrentUserUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: fields
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderFormList'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderFormList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
    post:
      tags:
      - order-forms-controller
      summary: createOrderForm
      operationId: createOrderFormUsingPOST
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      requestBody:
        description: orderFormWsDTO
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/OrderForm'
          application/json:
            schema:
              $ref: '#/components/schemas/OrderForm'
        required: true
      responses:
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: orderFormWsDTO
  /{baseSiteId}/orderforms/{orderFormCode}:
    get:
      tags:
      - order-forms-controller
      summary: getOrderFormForCode
      operationId: getOrderFormForCodeUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: fields
        schema:
          type: string
          default: DEFAULT
      - name: orderFormCode
        in: path
        description: orderFormCode
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderForm'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderForm'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
    put:
      tags:
      - order-forms-controller
      summary: updateOrderForm
      operationId: updateOrderFormUsingPUT
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: fields
        schema:
          type: string
          default: DEFAULT
      - name: orderFormCode
        in: path
        description: orderFormCode
        required: true
        schema:
          type: string
      requestBody:
        description: orderFormWsDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderForm'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OrderForm'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderForm'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: orderFormWsDTO
    delete:
      tags:
      - order-forms-controller
      summary: deleteOrderForm
      operationId: deleteOrderFormUsingDELETE
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: orderFormCode
        in: path
        description: orderFormCode
        required: true
        schema:
          type: string
      responses:
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/orderforms/{orderFormCode}/cart:
    post:
      tags:
      - order-forms-controller
      summary: orderForm
      operationId: orderFormUsingPOST
      parameters:
      - name: baseSiteId
        in: path
        description: baseSiteId
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: fields
        schema:
          type: string
          default: DEFAULT
      - name: orderFormCode
        in: path
        description: orderFormCode
        required: true
        schema:
          type: string
      responses:
        201:
          description: Created
          content: {}
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/orders/{code}:
    get:
      tags:
      - Orders
      summary: Get a order.
      description: Returns details of a specific order based on the order GUID (Globally
        Unique Identifier) or the order CODE. The response contains detailed order
        information.
      operationId: getOrder
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Order GUID (Globally Unique Identifier) or order CODE
        required: true
        schema:
          type: string
      - name: emailId
        in: query
        description: Request query paramater to include the collector email.
        allowEmptyValue: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Order'
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/orders/{code}/addLoyaltyNumber:
    patch:
      tags:
      - Orders
      summary: Update loyalty Card number in orderModel.
      description: Update loyalty Card number in orderModel.
      operationId: Add Loyalty Card Number in orderModel
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Order Code
        required: true
        schema:
          type: string
      - name: loyaltyNumber
        in: query
        description: Loyalty Number
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content: {}
        204:
          description: No Content
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/orders/{code}/guid:
    get:
      tags:
      - Orders
      summary: Get order guid
      description: Get order guid
      operationId: getOrderGuid
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: code
        in: path
        description: Order code
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: Customer email
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/paymentmodes:
    get:
      tags:
      - Payment Modes
      summary: Gets all available payment modes.
      description: Gets all payment modes defined for the base store.
      operationId: getPaymentModes
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: 'Response configuration. This is the list of fields that should
          be returned in the response body. Examples: BASIC, DEFAULT, FULL'
        schema:
          type: string
          default: DEFAULT
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PaymentModeList'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentModeList'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/pos/orders/complete/{orderNumber}:
    post:
      tags:
      - POS
      summary: Pos order complete.
      description: Perform POS completion call. Change order status to READY_FOR_PICKUP.
      operationId: completeOrder
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: orderNumber
        in: path
        description: orderNumber
        required: true
        schema:
          type: string
      requestBody:
        description: completeOrderParameter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtcPosCompleteParameter'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcPosCompleteOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcPosCompleteOrder'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
      x-codegen-request-body-name: completeOrderParameter
  /{baseSiteId}/pos/orders/consignments/{repairOrderNumber}:
    get:
      tags:
      - POS
      summary: POS Get ETires consignment.
      description: Gets order information.
      operationId: getETiresConsignment
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: 13 digits of order code
        schema:
          type: string
      - name: language
        in: query
        description: Language ('E' or 'F')
        schema:
          type: string
      - name: location
        in: query
        description: 5 digits of location
        schema:
          type: string
      - name: operatorId
        in: query
        description: 10 signs of operator ID
        schema:
          type: string
      - name: repairOrderNumber
        in: path
        description: repairOrderNumber
        required: true
        schema:
          type: string
      - name: terminalId
        in: query
        description: 4 digits of terminal ID
        schema:
          type: string
      - name: timestamp
        in: query
        description: Timestamp in 'YYYY-MM-DDhh:mm:ss' format
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcPosOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcPosOrder'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/pos/orders/deliveryFees/{orderNumber}:
    get:
      tags:
      - POS
      summary: getDeliveryFees
      operationId: getDeliveryFeesUsingGET
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: 13 digits of order code
        schema:
          type: string
      - name: language
        in: query
        description: Language ('E' or 'F')
        schema:
          type: string
      - name: location
        in: query
        description: 5 digits of location
        schema:
          type: string
      - name: operatorId
        in: query
        description: 10 signs of operator ID
        schema:
          type: string
      - name: orderNumber
        in: path
        description: orderNumber
        required: true
        schema:
          type: string
      - name: originalPosTransactionId
        in: query
        schema:
          type: string
      - name: terminalId
        in: query
        description: 4 digits of terminal ID
        schema:
          type: string
      - name: timestamp
        in: query
        description: Timestamp in 'YYYY-MM-DDhh:mm:ss' format
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcGenericPosOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcGenericPosOrder'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
      - oauth2_Password: []
      - oauth2_client_credentials: []
  /{baseSiteId}/pos/orders/returnNew/{orderNumber}:
    post:
      tags:
      - POS
      summary: Pos order return.
      description: Perform POS refund call.
      operationId: returnOrder
      parameters:
      - name: baseSiteId
        in: path
        description: Base site identifier
        required: true
        schema:
          type: string
      - name: orderNumber
        in: path
        description: orderNumber
        required: true
        schema:
          type: string
      requestBody:
        description: returnOrderParameter
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CtcPosOrderAwareParameter'
        required: true
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CtcGenericPosOrder'
            application/json:
              schema:
                $ref: '#/components/schemas/CtcGenericPosOrder'
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      security:
[...]
